{% if s['recycle_repository'] is defined and
  s['recycle_repository'] not in ['', [], None] %}
{{ '  recycle: repository = ' + s['recycle_repository'] }}
{% endif %}
{% if s['recycle_directory_mode'] is defined and
  s['recycle_directory_mode'] not in ['', [], None] %}
{{ '  recycle: directory_mode = ' ~ s['recycle_directory_mode'] }}
{% endif %}
{% if s['recycle_subdir_mode'] is defined and
  s['recycle_subdir_mode'] not in ['', [], None] %}
{{ '  recycle: subdir_mode = ' ~ s['recycle_subdir_mode'] }}
{% endif %}
{% if s['recycle_keeptree'] is defined and
  s['recycle_keeptree'] in ['true', 'false'] %}
{{ '  recycle: keeptree = ' + s['recycle_keeptree'] }}
{% endif %}
{% if s['recycle_versions'] is defined and
  s['recycle_versions'] in ['true', 'false'] %}
{{ '  recycle: versions = ' + s['recycle_versions'] }}
{% endif %}
{% if s['recycle_touch'] is defined and
  s['recycle_touch'] in ['true', 'false'] %}
{{ '  recycle: touch = ' + s['recycle_touch'] }}
{% endif %}
{% if s['recycle_touch_mtime'] is defined and
  s['recycle_touch_mtime'] in ['true', 'false'] %}
{{ '  recycle: touch_mtime = ' + s['recycle_touch'] }}
{% endif %}
{% if s['recycle_minsize'] is defined and
  s['recycle_minsize'] not in ['', [], None] %}
{{ '  recycle: minsize = ' ~ s['recycle_minsize'] }}
{% endif %}
{% if s['recycle_maxsize'] is defined and
  s['recycle_maxsize'] not in ['', [], None] %}
{{ '  recycle: maxsize = ' ~ s['recycle_maxsize'] }}
{% endif %}
{% if s['recycle_exclude'] is defined and
  s['recycle_exclude'] not in ['', [], None] %}
{{ '  recycle: exclude = ' + s['recycle_exclude'] }}
{% endif %}
{% if s['recycle_exclude_dir'] is defined and
  s['recycle_exclude_dir'] not in ['', [], None] %}
{{ '  recycle: exclude_dir = ' + s['recycle_exclude_dir'] }}
{% endif %}
{% if s['recycle_noversions'] is defined and
  s['recycle_noversions'] not in ['', [], None] %}
{{ '  recycle: noversions = ' + s['recycle_noversions'] }}
{% endif %}
